* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}

a {
    color: #1e6bb8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page-header {
    min-height: 100vh;
    color: white;
    text-align: center;
    background: #136a8a;
    background: -webkit-linear-gradient(45deg, #0077b5, #008891);
    background: linear-gradient(45deg, #0077b5, #008891);
}

.particles-js-canvas-el {
    display: block;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
}

.my-name {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: 0;
    margin-bottom: 0.1rem;
    color: white;
    text-shadow: 0 0 1px #000, 0 0 5px #000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 1;
    font-size: 4em;
    letter-spacing: 4px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .my-name {
        top: 18%;
        font-size: 3.5em;
        min-width: 310px;
    }
}

.my-spec {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-bottom: 0.1rem;
    color: white;
    text-shadow: 0 0 1px #000, 0 0 3px #000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 1.2;
    text-align: left;
    list-style: circle;
}

@media only screen and (max-width: 768px) {
    .my-spec {
        top: 45%;
        min-width: 320px;
    }
}

.my-spec > span {
    left: -14px;
    position: relative;
}

.typing {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-top: 0;
    margin-bottom: 0.1rem;
    text-shadow: 0 0 1px #000, 0 0 3px #000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 1;
    text-align: center;
    font-size: larger;
    min-width: 320px;
}

.typing::after {
    content: '|';
    -webkit-animation: blink 500ms infinite;
    animation: blink 500ms infinite;
}

@-webkit-keyframes blink {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes blink {
    from { opacity: 0; }
    to { opacity: 1; }
}

.icon-list {
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    display: block;
    width: 260px;
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    list-style: none;
}

.icon-list > li {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 4px;
    margin-bottom: 0.5em;
    margin-right: 0.2em;
    border: 2px solid #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    cursor: pointer;
    font-size: 1em;
    overflow: hidden;
    color: #fff;
}

.icon-list > li:hover {
    -webkit-transition: all .25s, -webkit-transform .7s linear;
    transition: all .25s, transform .7s linear;
}

.icon-list > li a {
    color: inherit;
    line-height: 28px;
}

.icon-list > li.facebook:hover {
    background-color: #3b5998;
}

.icon-list > li.linkedin:hover {
    background-color: #0077b5;
}

.icon-list > li.codepen:hover {
    background-color: #fff;
    color: #000;
}

.icon-list > li.github:hover {
    background-color: #000;
}

.icon-list > li.email:hover {
    background-color: #ea4335;
}
